.box {
    width: 100px;
    height: 100px;
    line-height: 50px;
    border: 3px solid black;
    padding: 20px;
    border-radius: 50px;
    background-color: rgb(240, 188, 45);
    color: white;
    font-size: 2rem;
    font-weight: 500;
}